In [30]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [31]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1227,tt1939659,30000000,82394288,Carrie,ChloÃ« Grace Moretz|Julianne Moore|Judy Greer|...,Kimberly Peirce,Know her name. Fear her power.,A reimagining of the classic horror tale about...,100,Drama|Horror,Screen Gems|Metro-Goldwyn-Mayer (MGM)|Misher F...,10/16/2013,5.8,2013
445,tt1231587,36000000,64572262,Hot Tub Time Machine,John Cusack|Lizzy Caplan|Rob Corddry|Craig Rob...,Steve Pink,Kick some past,A malfunctioning time machine at a ski resort ...,101,Science Fiction|Comedy|Adventure,United Artists|Metro-Goldwyn-Mayer (MGM)|New C...,3/26/2010,5.9,2010
78,tt2910904,11930000,18340000,The Dressmaker,Kate Winslet|Liam Hemsworth|Caroline Goodall|J...,Jocelyn Moorhouse,Revenge is back in fashion,"In 1950s Australia, beautiful, talented dressm...",118,Drama,Amazon Studios|Film Art Media|Apollo Media,10/1/2015,6.9,2015
464,tt1564585,10000000,66821036,Skyline,Eric Balfour|Scottie Thompson|David Zayas|Dona...,Colin Strause|Greg Strause,Don't look up,When strange lights descend on the city of Los...,100,Science Fiction,Rogue Pictures|Relativity Media|Hydraulx|Rat E...,11/11/2010,4.7,2010
951,tt0157472,26000000,38793283,Clockstoppers,Jesse Bradford|Paula GarcÃ©s|Robin Thomas|Fren...,Jonathan Frakes,"The adventure of a lifetime, in a few mere sec...","Until now, Zak Gibbs' greatest challenge has b...",94,Adventure|Family|Science Fiction|Thriller,Paramount Pictures|Nickelodeon Movies|Valhalla...,3/17/2002,4.5,2002

In [32]:
data.info() #посмотрим количество заполненных значений.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [33]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [34]:
answers = {} # создадим словарь для ответов

# создаём колонку: прибыль = сборы - бюджет.
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [35]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

In [36]:
data[['budget', 'original_title', 'imdb_id']].sort_values('budget', ascending=False).head()

         budget                               original_title    imdb_id
723   380000000  Pirates of the Caribbean: On Stranger Tides  tt1298650
1669  300000000     Pirates of the Caribbean: At World's End  tt0449088
14    280000000                      Avengers: Age of Ultron  tt2395427
1014  260000000                                  John Carter  tt0401729
380   260000000                                      Tangled  tt0398286

# 2. Какой из фильмов самый длительный (в минутах)?

In [37]:
answers['2'] = 'Gods and Generals (tt0279111)' #+

In [38]:
data[['runtime', 'original_title', 'imdb_id']].sort_values('runtime', ascending=False).head()

      runtime                                 original_title    imdb_id
1157      214                              Gods and Generals  tt0279111
1081      201  The Lord of the Rings: The Return of the King  tt0167260
1736      191                                     Grindhouse  tt0462322
1336      187                                      King Kong  tt0360717
504       183                                   Pearl Harbor  tt0213149

# 3. Какой из фильмов самый короткий (в минутах)?

In [39]:
answers['3'] = 'Winnie the Pooh (tt1449283)' #+

In [40]:
data[['runtime', 'original_title', 'imdb_id']].sort_values('runtime', ascending=True).head()

      runtime        original_title    imdb_id
768        63       Winnie the Pooh  tt1449283
930        72  Return to Never Land  tt0280030
1097       72     The Jungle Book 2  tt0283426
1408       76               Valiant  tt0361089
1626       76     Home on the Range  tt0299172

# 4. Какова средняя длительность фильмов?

In [41]:
answers['4'] = 110 #+

In [42]:
data.runtime.mean()

109.6585494970884

ВАРИАНТ 2

In [43]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [44]:
answers['5'] = 107 #+

In [45]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [46]:
answers['6'] = 'Avatar (tt0499549)' #+

In [47]:
data[['profit', 'original_title', 'imdb_id']].sort_values('profit', ascending=False).head()

         profit                original_title    imdb_id
239  2544505847                        Avatar  tt0499549
3    1868178225  Star Wars: The Force Awakens  tt2488496
0    1363528810                Jurassic World  tt0369610
4    1316249360                     Furious 7  tt2820852
970  1299557910                  The Avengers  tt0848228

# 7. Какой фильм самый убыточный?

In [48]:
answers['7'] = 'The Lone Ranger (tt1210819)' #+

In [49]:
data[['profit', 'original_title', 'imdb_id']].sort_values('profit', ascending=True).head()

         profit                original_title    imdb_id
1245 -165710090               The Lone Ranger  tt1210819
1616 -119180039                     The Alamo  tt0318974
809  -111007242               Mars Needs Moms  tt1305591
958   -92896027  The Adventures of Pluto Nash  tt0180052
1464  -84540684                  Flushed Away  tt0424095

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [50]:
answers['8'] = 1478 #+

In [51]:
data_1=data[data['revenue'] > data['budget']]
len(data_1)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [52]:
answers['9'] = 'The Dark Knight (tt0468569)' #+

In [53]:
data_2=data[data.revenue.max() & (data.release_year == 2008)].head()
data_2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
600,tt0910970,180000000,521311860,WALLÂ·E,Ben Burtt|Elissa Knight|Jeff Garlin|Fred Willa...,Andrew Stanton,An adventure beyond the ordinar-E.,WALLÂ·E is the last robot left on an Earth tha...,98,Animation|Family,Walt Disney Pictures|Pixar Animation Studios,6/22/2008,7.6,2008,341311860
601,tt0371746,140000000,585174222,Iron Man,Robert Downey Jr.|Terrence Howard|Jeff Bridges...,Jon Favreau,Heroes aren't born. They're built.,"After being held captive in an Afghan cave, bi...",126,Action|Science Fiction|Adventure,Marvel Studios,4/30/2008,7.3,2008,445174222
602,tt0936501,25000000,226830568,Taken,Liam Neeson|Famke Janssen|Maggie Grace|Katie C...,Pierre Morel,They took his daughter. He'll take their lives.,"While vacationing with a friend in Paris, an A...",93,Action|Thriller|Crime,Twentieth Century Fox Film Corporation|M6 Film...,2/18/2008,7.2,2008,201830568
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [54]:
answers['10'] = 'The Lone Ranger (tt1210819)' #+

In [55]:
# временной промежуток определил через query.
data['sample']=data.query('2012<release_year<2014').profit 
data[['sample', 'original_title', 'imdb_id']].sort_values('sample', ascending=True).head()

           sample                   original_title    imdb_id
1245 -165710090.0                  The Lone Ranger  tt1210819
1214  -68351500.0                         R.I.P.D.  tt0790736
1302  -51337973.0  Legends of Oz: Dorothy's Return  tt0884726
1235  -45510171.0               Bullet to the Head  tt1308729
1278  -36298836.0                      Broken City  tt1235522

# 11. Какого жанра фильмов больше всего?

In [56]:
answers['11'] = 'Drama' #+

In [57]:
#применим функции split и explode, чтобы разделить и получить доступ к каждому жанру, и посчитаем их количество.
data['genres'].str.split('|').explode().value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [58]:
answers['12'] = 'Drama' #+

In [59]:
data_tmp = data[data['profit'] > 0]
pd.Series((data_tmp.genres.str.split('|').sum())).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [60]:
answers['13'] = 'Peter Jackson' #+

In [61]:
director_sample=data.director.str.split('|').explode()
director_sample.append(data['director']) #добавим наши изменения.
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [62]:
answers['14'] = 'Robert Rodriguez' #+

In [63]:
data[data['genres'].str.contains('Action')]['director'].str.split('|').explode().value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [64]:
answers['15'] = 'Chris Hemsworth' #+

In [65]:
data['cast_list'] = data.cast.str.split('|')
data_cast = data.explode('cast_list')
data_2012 = data_cast[data_cast['release_year']==2012] #создаём датафрейм фильмов 2012 года
group_cast = data_2012.groupby(['cast_list'])['revenue'].sum().sort_values(ascending=False).index[0]
group_cast

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [66]:
answers['16'] = 'Matt Damon' #+

In [67]:
data[data['budget'] > data['budget'].mean()]['cast'].str.split('|').explode().value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [68]:
answers['17'] = 'Action' #+

In [69]:
data_NC = data[data['cast'].str.contains('Nicolas Cage')]
data_NC['genres'].str.split('|').explode().value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [70]:
answers['18'] = 'K-19: The Widowmaker' #+

In [71]:
new_data = data[data['production_companies'].str.contains('Paramount Pictures')]
new_data[['original_title', 'profit']].sort_values('profit').iloc[0]['original_title']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [72]:
answers['19'] = '2015' #+

In [73]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [74]:
answers['20'] = '2014' #+

In [75]:
data[data['production_companies'].str.contains('Warner Bros')].groupby(
    'release_year')['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [76]:
answers['21'] = 'Сентябрь' #+

In [77]:
#При помощи split() в release_date выделим месяцы 
months_only = data.release_date.apply(lambda s: s.split('/')[0]).value_counts()
months_only

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [78]:
answers['22'] = '450' #+

In [79]:
summer_movies = months_only.loc[['6','7','8']] #выделим летние месяцы
summer_movies.sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [80]:
answers['23'] = 'Peter Jackson' #+

In [81]:
new_data = data.copy() #создадим копию датафрейма.
new_data['mounth'] = new_data['release_date'].apply(lambda x: x[:x.find('/')])
winter_data = new_data[new_data['mounth'].isin(['12', '1', '2'])] #выделим зимние месяцы.
winter_data['director'].str.split('|').explode().value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [82]:
answers['24'] = 'Four By Two Productions' #+

In [83]:
data['title_len'] = data['original_title'].map(lambda s: len(s))
data['companies_list'] = data.production_companies.str.split('|')
data_exploded_companies = data.explode('companies_list')
long_names_company = data_exploded_companies.groupby(['companies_list'])['title_len'].mean().sort_values(ascending=False)
long_names_company

companies_list
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [84]:
answers['25'] = 'Midnight Picture Show' #+

In [85]:
data['companies_list'] = data.production_companies.str.split('|')
data['overview_len'] = data['overview'].map(lambda s: len(s.split()))
data_exploded_companies_1 = data.explode('companies_list')
long_overview = data_exploded_companies_1.groupby(['companies_list'])[
    'overview_len'].mean().sort_values(ascending=False)
long_overview

companies_list
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_len, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [93]:
answers['26'] = best_data #+

In [92]:
best_data = data[data['vote_average'] > data['vote_average'].quantile(0.99)][['original_title',
    'vote_average']].sort_values(by='vote_average', ascending=False)
best_data

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [88]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint' #+

In [89]:
actors = Counter()

# Используем combinations()
for x in data.cast.str.split('|'):
    actors += Counter(combinations(x, 2))

# Выводим данные 
for actor in actors.most_common(1):
    print(actor)

(('Daniel Radcliffe', 'Rupert Grint'), 8)

# Submission

In [95]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '27': 'Daniel Radcliffe, Rupert Grint',
 '26':                                      original_title  vote_average
 599                                 The Dark Knight           8.1
 9                                        Inside Out           8.0
 34                                             Room           8.0
 118                                    Interstellar           8.0
 125                              The Imitation Game           8.0
 119                         Guardians of the Galaxy           7.9
 128                                       Gone Girl           7.9
 138                        The Grand Budapest Hotel           7.9
 370                                       Inception           7.9
 872                                     The Pianist           7.9
 1081  The Lord of the Rings: The Return of the King           7.9
 1183                        The Wolf of Wall Street           7.9
 1191                               12 Years a Slave           7.9
 1800                                        Memento           7.9}

In [94]:
# и убедиться что ни чего не пропустил)
len(answers)

27